<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>About</title>
</head>
<body>
  <h1>About</h1>
  <p><strong>Who's The Bot</strong> is a two player game that simulates the setup of a turing test.
    Two players and a chatbot are linked together and exchange a series of messages. One player, the "bot player",
    attempts to write a short message respose to a prompt that sounds as close to a chatbot response as they can.
    The other player, the "human player" receives two responses. One from the bot player and one from an actual
    chatbot. The human player must determine which response was written by the chatbot. Successful guesses by
    the human player and successful dupes by the bot player are recorded as a score. At the end of five rounds a
    winner is determined.</p>

  <p> This game was written as a senior capstone project by the <strong>Purple Sloths</strong> team at DePaul
    University.</p>

  <h2>Meet the Team</h2>
  <table cellpadding="15">
    <tr>
      <th>Team Members</th>
      <th>Team Roles</th>
    </tr>
    <tr>
      <td>Ananya Sharma</td>
      <td>Video/Presentation Manager</td>
    </tr>
    <tr>
      <td>Chris Lubera</td>
      <td>Project Manager</td>
    </tr>
    <tr>
      <td>Farhan Sheikh</td>
      <td>Requirements Manager</td>
    </tr>
    <tr>
      <td>Mathew Parrinello</td>
      <td>Design Manager</td>
    </tr>
    <tr>
      <td>Merga Tafa</td>
      <td>Useablity Manager</td>
    </tr>
    <tr>
      <td>Ryan Wright</td>
      <td>Planning Manager</td>
    </tr>
    <tr>
      <td>Sameer Samani</td>
      <td>Documentation Manager</td>
    </tr>
    <tr>
      <td>Samuel Stahl</td>
      <td>Implementation Manager</td>
    </tr>
  </table>
  <hr>
  <a href="{{url_for('index')}}">Home</a>
</body>
</html>
