<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Who's The Bot</title>
  <style>
    .invisible {display: none;}
  </style>
</head>
<body>
  <div id="app">
    <div ref="matchmakingScreen">
      <table>
        <tr>
          <td><button v-on:click="subscribe" type="button" name="matchmakingbtn" ref="matchmakingbtn">Join Random Match</button></td>
        </tr>
        <tr>
          <td>{% raw %}{{ status }}{% endraw %}</td>
        </tr>
        <tr>
          <td><button v-on:click="setReady" type="button" name="readybtn" ref="readybtn">I'm Ready!</button></td>
          <td>Other Player:</td>
          <td>Game will start when both players are ready</td>
        </tr>
        <tr>
          <td>{% raw %}{{ readyDisplay }}{% endraw %}</td>
          <td>{% raw %}{{ otherReadyDisplay }}{% endraw %}</td>
        </tr>
      </table>
    </div>
    <br>
    <div class="invisible" ref="scoreboard">
      <table>
        <tr>
          <td>
            <table>
              <tr>
                <td>Question #: {% raw %} {{ round }} {% endraw %}</td>
              </tr>
              <tr>
                <td>{% raw %} {{ question }} {% endraw %}</td>
              </tr>
              <tr>
                <td>Timer: 00:{% raw %}{{ timeLeft }}{% endraw %}</td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td>Score:</td>
                <td>{% raw %} {{ score }} {% endraw %}</td>
              </tr>
              <tr>
                <td>Question 1:</td>
                <td>{% raw %} {{ questionResults[0] }} {% endraw %}</td>
              </tr>
              <tr>
                <td>Question 2:</td>
                <td>{% raw %} {{ questionResults[1] }} {% endraw %}</td>
              </tr>
              <tr>
                <td>Question 3:</td>
                <td>{% raw %} {{ questionResults[2] }} {% endraw %}</td>
              </tr>
              <tr>
                <td>Question 4:</td>
                <td>{% raw %} {{ questionResults[3] }} {% endraw %}</td>
              </tr>
              <tr>
                <td>Question 5:</td>
                <td>{% raw %} {{ questionResults[4] }} {% endraw %}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <div class="invisible" ref="humanboard">
      <table border="1px solid black">
        <tr>
          <td>Bot?</td>
          <td>Bot?</td>
        </tr>
        <tr>
          <td>{% raw %} {{ option1 }} {% endraw %}</td>
          <td>{% raw %} {{ option2 }} {% endraw %}</td>
        </tr>
        <tr>
          <td><button v-on:click="humanSubmit1" type="button" name="button1" ref="button1">This is a bot!</button></td>
          <td><button v-on:click="humanSubmit2" type="button" name="button2" ref="button2">This is a bot!</button></td>
        </tr>
      </table>
    </div>
    <div class ="invisible" ref="botboard">
      <table border="1px solid black">
        <tr>
          <td>Player 2</td>
          <td>Bot</td>
        </tr>
        <tr>
          <td><input type="text" id="botsubmit" ref="botsubmit" name="botsubmit"  maxlength="50" placeholder="Type response here"  required=""></td>
          <td>Waiting on bot response</td>
        </tr>
        <tr>
          <td><button type="submit" @click.prevent="botSubmit">Submit</button></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class ="invisible" ref="gameover">
      <table>
        <tr>
          <td><button v-on:click="rematch" type="button" name="rematchbtn" ref="rematchbtn">I Want A Rematch!</button></td>
          <td><button v-on:click="quitgame" type="button" name="quitbtn" ref="quitbtn">Main Menu</button></td>
        </tr>
        <tr>
          <td><button v-on:click="setReady" type="button" name="readybtn" ref="readybtn">I'm Ready!</button></td>
          <td>Other Player:</td>
          <td>{% raw  %}{{ status }}{% endraw %}</td>
        </tr>
        <tr>
          <td>{% raw %}{{ readyDisplay }}{% endraw %}</td>
          <td>{% raw %}{{ otherReadyDisplay }}{% endraw %}</td>
        </tr>
      </table>
    </div>
  </div>
  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    //For dev testing. Disable for production
    Pusher.logToConsole = true;
  </script>
  <script src="{{url_for('static', filename='game.js')}}"></script>
</body>
</html>
