<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Who's The Bot</title>
</head>
<body>
  <div id="app">
    <p> {% raw %} {{ players }} {% endraw %} online player(s) </p>
    <hr>
    <li v-for="member in connectedPlayers" @click="choosePlayer">
      {% raw %} {{ member }} {% endraw %}
    </li>
    <hr>
    <p> Current Status: {% raw %} {{ status }} {% endraw %} </p>
  </div>
  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    //For dev testing. Disable for production
    Pusher.logToConsole = true;
  </script>
  <script src="{{url_for('static', filename='game.js')}}"></script>
</body>
</html>
