<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Who's The Bot</title>
</head>
<body>
  <table>
    <tr>
      <td>
        <table>
          <tr>
            <td>Question #:</td>
          </tr>
          <tr>
            <td>What are your thoughts on Tony Danza?</td>
          </tr>
          <tr>
            <td>Timer: 00:00</td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>Score:</td>
            <td>Current Score</td>
          </tr>
          <tr>
            <td>Question 1:</td>
            <td>Correct!</td>
          </tr>
          <tr>
            <td>Question 2:</td>
            <td>Incorrect!</td>
          </tr>
          <tr>
            <td>Question 3:</td>
            <td>Pending...</td>
          </tr>
          <tr>
            <td>Question 4:</td>
            <td>Pending...</td>
          </tr>
          <tr>
            <td>Question 5:</td>
            <td>Pending...</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table border="1px solid black">
    <tr>
      <td>Bot?</td>
      <td>Bot?</td>
    </tr>
    <tr>
      <td>Bleh, that's my thoughts on TV.</td>
      <td>That's it! It means what! I'm glad we finally know.</td>
    </tr>
    <tr>
      <td><button type="button" name="button1">This is a bot!</button></td>
      <td><button type="button" name="button2">This is a bot!</button></td>
    </tr>
  </table>
</body>
