<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Who's The Bot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
      .h2 {text-align: center}
    </style>
  </head>
  <body>
    <table class="table" cellpadding="5">
      <tr>
        <td><img src="{{ url_for('static', filename='bot_cropped.png')}}" width="150" height="50" alt="Whos The Bot"></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#aboutModal">About</button></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rulesModal">Rules</button></td>
      </tr>
    </table>
    <hr>
    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutModalLabel">ABOUT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Who's The Bot</strong> is a two player game that simulates the setup of a turing test.
          Two players and a chatbot are linked together and exchange a series of messages. One player, the "bot player",
          attempts to write a short message respose to a prompt that sounds as close to a chatbot response as they can.
          The other player, the "human player" receives two responses. One from the bot player and one from an actual
          chatbot. The human player must determine which response was written by the chatbot. Successful guesses by
          the human player and successful dupes by the bot player are recorded as a score. At the end of five rounds a
          winner is determined.</p>

        <p> This game was written as a senior capstone project by the <strong>Purple Sloths</strong> team at DePaul
          University.</p>

        <h2>Meet the Team</h2>
        <table cellpadding="15">
          <tr>
            <th>Team Members</th>
            <th>Team Roles</th>
          </tr>
          <tr>
            <td>Ananya Sharma</td>
            <td>Video/Presentation Manager</td>
          </tr>
          <tr>
            <td>Chris Lubera</td>
            <td>Collaboration Manager</td>
          </tr>
          <tr>
            <td>Farhan Sheikh</td>
            <td>Requirements Manager</td>
          </tr>
          <tr>
            <td>Mathew Parrinello</td>
            <td>Design Manager</td>
          </tr>
          <tr>
            <td>Merga Tafa</td>
            <td>Useablity Manager</td>
          </tr>
          <tr>
            <td>Ryan Wright</td>
            <td>Planning Manager</td>
          </tr>
          <tr>
            <td>Sameer Samani</td>
            <td>Documentation Manager</td>
          </tr>
          <tr>
            <td>Samuel Stahl</td>
            <td>Implementation/Project Manager</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
  <div class="modal fade" id="rulesModal" tabindex="-1" role="dialog" aria-labelledby="rulesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rulesModalLabel">RULES</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> <strong>Setup:</strong> At the start of the game each player will be randomly assigned the role of human player or bot player.
          The game consists of five rounds. During each round the player will complete an objective based on their role.
          At the end of each round the score is updated. At the end of five rounds a winner is declared and the game ends.</p>

        <p><strong>Human Player Objective:</strong> Within the time limit, guess which message was written by the chatbot</p>

        <p><strong>Bot Player Objective:</strong> Within the time limit, write a short response to the prompt in the manner of a chatbot</p>

        <p><strong>Scoring:</strong> The human player receives points for each message they guess correctly. The bot player receives points
        for each message that the human player guesses incorrectly.</p>

        <p><strong>Winning:</strong> At the end of the fifth round, the player with the most points wins!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
    <div id="app">
      <!--<h1>Who's The Bot?!</h1>-->
      <img src="{{ url_for('static', filename='bot_cropped.png')}}" class="img-fluid" alt="Whos The Bot">
      <h2>Input Username and Press Connect to Start!</h2><br>
      <form>
        <div class="form-label-group">
          Username: <input type="name" id="inputUsername" ref="username" placeholder="Username" maxlength="20" required="">
        </div>
        <br>
        <button type="submit" class="btn btn-outline-primary btn-block" @click.prevent="login">Connect!</button>
      </form>
    </div>
    <hr>
    <table class="table" cellpadding="5">
      <tr>
        <th>High Scores (human scores)</th>
        <th>High Scores (fake bot scores)</th>
      </tr>
      <tr>
        <td>
          <table class="table table-dark" cellpadding="5">
            <tr>
              <th>Username</th>
              <th>Score</th>
            </tr>
            <tr>
              <td id="top human"></td>
              <td id="top human score"></td>
            </tr>
            <tr>
              <td id="second human"></td>
              <td id="second human score"></td>
            </tr>
            <tr>
              <td id="third human"></td>
              <td id="third human score"></td>
            </tr>
          </table>
        </td>
        <td>
          <table class="table table-dark" cellpadding="5">
            <tr>
              <th>Username</th>
              <th>Score</th>
            </tr>
            <tr>
              <td id="top bot"></td>
              <td id="top bot score"></td>
            </tr>
            <tr>
              <td id="second bot"></td>
              <td id="second bot score"></td>
            </tr>
            <tr>
              <td id="third bot"></td>
              <td id="third bot score"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script>
    var app = new Vue({
      el: "#app",
      mounted: function(){
        this.load()
      },
      methods: {
        login: function() {
          let username = this.$refs.username.value
          if(!(username === "")){
            window.location.replace(`/game?username=${username}`);
          }
        },
        // Add function to send request to delete old messages and fetch the top highschores for bot and human
        load: async function(){
          await axios.post("http://3.19.145.43/database", {
            request_type : "delete old scores"
          }).then(
            res => console.log(res),
            error => console.log(error)
          );
          await axios.post("http://3.19.145.43/database", {
            request_type: "get top user scores"
          }).then(
            res => {
              var temp
              var i = 0
              var list = ["top human", "second human", "third human"]
              while(i < 3){
                temp = res['data'][i.toString()]['0']
                document.getElementById(list[i]).innerHTML = temp

                temp = res['data'][i.toString()]['2']
                document.getElementById(list[i] + " score").innerHTML = temp
                i++
              }
            },
            error => console.log(error)
          );
          await axios.post("http://3.19.145.43/database", {
            request_type : "get top bot scores"
          }).then(
            res => {
              var temp
              var i = 0
              var list = ["top bot", "second bot", "third bot"]
              while(i < 3){
                temp = res['data'][i.toString()]['1']
                document.getElementById(list[i]).innerHTML = temp

                temp = res['data'][i.toString()]['3']
                document.getElementById(list[i] + " score").innerHTML = temp
                i++
              }
            },
            error => console.log(error)
          );
        }
      }
    })
    </script>
  </body>
</html>
