<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Rules</title>
</head>
<body>
  <h1>Rules</h1>
  <p> <strong>Setup:</strong> At the start of the game each player will be randomly assigned the role of human player or bot player.
    The game consists of five rounds. During each round the player will complete an objective based on their role.
    At the end of each round the score is updated. At the end of five rounds a winner is declared and the game ends.</p>

  <p><strong>Human Player Objective:</strong> Within the time limit, guess which message was written by the chatbot</p>

  <p><strong>Bot Player Objective:</strong> Within the time limit, write a short response to the prompt in the manner of a chatbot</p>

  <p><strong>Scoring:</strong> The human player receives points for each message they guess correctly. The bot player receives points
  for each message that the human player guesses incorrectly.</p>

  <p><strong>Winning:</strong> At the end of the fifth round, the player with the most points wins!</p

  <hr>
  <a href="{{url_for('index')}}">Home</a>
</body>
</html>
